.middle .head .mht{border-bottom:none; color:#CACACA; cursor:pointer;}
.middle .head .cur{border-bottom:solid 5px #FF8C12; color:#676767;}
.middle .middlebottom{margin-top:15px;}
.middle .apply{width:750px; margin-left:300px;}
.middle .apply td textarea{width:500px;}
.middle .tablelist td{padding:3px 0px;}
.middle .tablelist td a{padding:3px 10px; background:#FF8C12; boder-radius:3px; color:white;}